body {
    color: #353752;
    font-family: 'DM Serif Display', serif;
    margin: 0;
    min-width: 300px;
    text-align: center;
}

a,
button {
    background: none;
    color: #353752;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
}

a:hover,
button:hover {
    color: #8588ab;
}

/* header {
    height: 100vh;
} */

.menu img {
    left: 0;
    max-width: 200px;
}

nav li {
    margin-left: 20px;
}

nav button {
    background-color: #ffb300;
    border: none;
    border-radius: 5px;
    color: #353752;
    padding: 5px 10px;
    box-shadow: 0 0 10px 0px rgb(183 185 210);
}

.alinear,
form li,
.genero div {
    display: inline-block;
    vertical-align: middle;
}

.margeniz {
    margin-left: 0;
}

.menu {
    box-shadow: 0 0 20px 0px rgb(183, 185, 210);
    padding: 1em 3em;
    text-align-last: justify;
}

.cajas,
article {
    background-image: url(../img/fondo_vecotr_amarillo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 8vw;
    padding-bottom: 8vw;
}

.contenedor {
    background-color: white;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

form ul {
    padding-left: 0;
}

.flotante {
    max-width: 500px;
    position: absolute;
    right: 10%;
    top: 150px;
}

.conprom {
    box-shadow: 0px 0px 15px 0px rgb(119 122 157);
    max-width: 1000px;
    padding: 4em 2em;
}

h1,
h2,
.conprom a {
    display: block;
    text-align: left;
}

h1 {
    margin: 0;
    font-size: 70px;
    line-height: 1.2em;
}

h2,
h3 {
    color: #ffb300;
    font-family: 'Sue Ellen Francisco', handwriting;
    font-size: 40px;
    margin-bottom: 1em;
}

h1,
h2 {
    width: 70%;
}

.conprom a {
    background-color: #353752;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgb(119 122 157);
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    width: 230px;
}

article {
    background-image: none;
}

h3 {
    color: #353752;
}

form li {
    border: solid 1px #353752;
    border-radius: 15px;
    height: 150px;
    margin: 20px;
    padding: 2em;
    width: 200px;
}

.genero div {
    cursor: pointer;
}

.genero img {
    width: 72px;
}

.genero span {
    border-radius: 10px;
    display: block;
    font-family: 'Poppins', sans-serif;
    min-width: 76px;
    padding-bottom: 2px;
}

form button {
    background-color: #353752;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgb(119 122 157);
    color: white;
    display: block;
    font-size: 20px;
    padding: 15px 20px;
    width: 230px;
    margin: 30px auto 0;
}

.circulos {
    border: solid 1px #353752;
    background-color: #353752;
    border-radius: 50%;
    color: white;
    height: 20px;
    margin: -50px auto 0;
    padding: 4px 5px 5px;
    width: 20px;
}

form input {
    border: 0;
    border-bottom: solid 2px #bbbbbb;
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
    width: 70px;
}

form h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

footer div {
    padding: 4em 2em;
}

footer img {
    height: 70px;
}

.logopyeye {
    margin-left: 20px;
    margin-right: 20px;
}

.bgModal {
    align-items: center;
    background: rgba(122, 95, 95, 0.5);
    color: white;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    position: fixed;
    transition: all .5s;
    top: -200%;
    width: 100%;
    z-index: 1;
}

.mainModal {
    background-color: white;
    border-radius: 10px;
    overflow: auto;
    padding-bottom: 40px;
    max-height: 80%;
    max-width: 600px;
    width: 90%;
}

.mainModal input {
    margin-bottom: 40px;
    max-width: 300px;
    text-align: left;
    padding-left: .5em;
    width: 70%;
}

.mainModal span {
    color: #353752;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.miniBoton {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: #353752;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    padding: 0;
    text-transform: initial;
    width: auto;
}

.mainModal h3 {
    text-transform: uppercase;
}

.mainModal input {
    border-radius: 10px;
    border: solid 2px rgb(165 165 165);
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: .5em;
}

.inte {
    display: inline-block;
    max-width: 350px;
    padding: 40px 40px;
    vertical-align: top;
}

.inte img, .inte p, .inte p span {
    display: block;
}

.inte img {
    border-radius: 50%;
    max-width: 175px;
}

.inte p {
    padding: 5px;
    padding-top: 20px;
    font-weight: 200;
    font-size: 18px;
}

.inte p span {
    margin: 10px auto;
    text-transform: uppercase;
}

.nosotros h2 {
    color: #353752;
    font-style: italic;
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
    padding: 30px 30px;
    padding-bottom: 70px;
    text-align: center;
}

.nosotros h2 span {
    font-size: 20px;
    font-weight: 600;
}


.resultado {
    margin-left: auto;
    margin-top: 75px;
    margin-right: auto;
    max-width: 1200px;
    width: 80%;
}

.resulinter {
    align-items: center;
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.resulinter div {
    font-family: 'Poppins';
    text-transform: capitalize;
    width: 20%;
}

h5, h6 {
    font-size: 14px;
}

h5 span, h6 span {
    font-weight: 500;
}

.comenimc {
    background-color: #ffb300;
    border-radius: 10px;
    color: white;
    max-width: 120px;
}

.comenimc h5 {
    margin: 10px auto;
}

.triangulo {
    width: 0 !important;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #ffb300;
    margin: 0 auto;
    margin-bottom: -10px;
}

@media screen and (max-width: 1000px){
    .flotante {
        max-width: 300px;
        right: 5%;
        top: 200px;
    }
}

@media screen and (max-width: 830px){
    nav.alinear {
        display: flex;
        position: absolute;
        top: 0;
        transition: all .5s;
        right: 0;
    }
    nav li.alinear {
        display: block;
        margin-left: 0px;
    }
    .resultado {
        min-width: 665px;
    }
}

@media screen and (max-width: 650px){
    h1, h2 {
        width: 100%;
    }
    .flotante {
        display: none;
    }
}

@media screen and (max-width: 450px){
    .contenedor {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}